<mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card routerLink = "imc">
            <mat-card-title>
                IMC
            </mat-card-title>
            <mat-card-content>
                Índice de Massa Corporal
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card routerLink = "cambio">
            <mat-card-title>
                Câmbio
            </mat-card-title>
            <mat-card-content>
                Conversor de moedas
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card routerLink = "bhaskara">
            <mat-card-title>
                Bhâskara
            </mat-card-title>
            <mat-card-content>
                Calculo de bhâskara em equações do 2º grau
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>