:host{
    .content{
        margin-top: 25vh;
    }

    .row-content{
        width: 250px;
    }

    .label{
       // width: 80px;
        //font-size: 25px;
        text-align: right;
    }

    .input{
        width: 40px;
        font-size: 15px;
    }

    .result{
        width: 80px;
        font-size: 15px;
    }

}